canvas {
  height: 300px !important;
  width: 700px !important;
  margin: auto;
}

@media (max-width: 850px) {
  canvas {
    width: calc(100% - 20px) !important; /* Adjust width based on screen size */
    max-width: 700px !important; /* Set a maximum width */
  }
}
.star-icon {
  transition: transform 0.2s ease;
}

.star-icon:hover {
  transform: scale(1.2);
}
